html
    head
    <script src="https://cdn.tailwindcss.com"></script>
    body 
        h1.bg-gradient-to-r.bg.from-purple-100.to-gray-200.p-16.text-4xl.font-bold 채팅 서비스
        div.p-16.space-y-8
            div.bg-gray-100.p-2 채팅 목록
            form.space-x-4.flex
                input.flex-1.border.border-gray-200.p-4.rounded(placeholder="채팅을 입력하세요.")
                button.border.border-yellow-300.p-4.bg-yellow-300.rounded 보내기